<nav class="bg-black">
  <div class="flex flex-1 items-center justify-center ">
    <a style="cursor: pointer;" class="text-white rounded-md px-3 py-2 text-sm font-medium">FREE STANDARD SHIPPING WITH ADICLUB</a>

    <svg class="h-2 w-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" version="1.1" id="Layer_1" viewBox="0 0 512.002 512.002" xml:space="preserve">
      <g>
        <g>
          <path d="M498.837,65.628c-7.957-3.328-17.152-1.472-23.253,4.629L256,289.841L36.416,70.257    c-6.101-6.101-15.275-7.936-23.253-4.629C5.184,68.913,0,76.721,0,85.34v106.667c0,5.675,2.24,11.093,6.251,15.083    l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251L505.751,207.09    c4.011-3.989,6.251-9.408,6.251-15.083V85.34C512,76.721,506.816,68.913,498.837,65.628z"/>
        </g>
      </g>
    </svg>

  </div>
</nav>

<ul class="bg-white flex items-end justify-end">

  <a routerLink="/help" style="font-size: small;" class="text-black  hover:text-gray-400 px-3 py-1 text-sm pt-2">help</a>
  <a routerLink="/orders-and-returns" style="font-size: small;" class="text-black  hover:text-gray-400 px-3 py-1 text-sm pt-2">orders and returns</a>
  <a routerLink="/join" style="font-size: small;" class="text-black  hover:text-gray-400 px-3 py-1 text-sm pt-2">join adiClub</a>
  <a routerLink="/flag" style="font-size: small;" class="text-black  hover:text-gray-400 px-3 py-2">
    <img src="./../../../assets/usa.png" class="h-4 w-auto pr-6" alt="">
  </a>

</ul>


<nav class="bg-white border-b border-gray-200 bg-white">

  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
       
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
         
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="./../../../assets/logo/adidas.png" alt="Your Company">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a class="bg-white text-white px-3 py-2 text-sm font-medium" aria-current="page"></a>
            
            <a routerLink="/products-men" class="active-link text-black hover:text-gray-400 px-3 py-2 text-sm font-bold">MEN</a>
            <a routerLink="/products-woman" class="active-link text-black hover:text-gray-400 px-3 py-2 text-sm font-bold">WOMEN</a>
            <a routerLink="/products-kids" class="active-link text-black hover:text-gray-400 px-3 py-2 text-sm font-bold">KIDS</a>
            <a routerLink="/products-woman" class="active-link text-black hover:text-gray-400 px-3 py-2 text-sm">SALES</a>
            <a routerLink="/products-kids" class="active-link text-black hover:text-gray-400 px-3 py-2 text-sm">3 STRIPLE LIFE</a>
          </div>
        </div>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        
        <!-- busqueda pantalla normal -->
        <div class="mr-3 hidden sm:block">
          <div class="relative">
            <input type="text" name="search" id="search" class="block w-full rounded-md border-0 py-1.5 pl-10 pr-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Search...">
            <button type="submit" class="absolute inset-y-0 right-0 px-3 flex items-center justify-center text-gray-500 focus:outline-none">
              <!-- Icono de búsqueda -->
              <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M15.5 10.5a5 5 0 11-10 0 5 5 0 0110 0z"></path>
              </svg>
            </button>
          </div>
        </div>


        <div class="relative ml-3">
          <button type="button" class="relative rounded-full bg-white p-1 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View cart</span>
            <!-- Icono de carrito de compras de Font Awesome -->
            <i class="fas fa-user text-lg"></i>
            <!-- Badge amarillo con animación de latido -->
            <span class="absolute top-0 right-0 h-2 w-2 bg-yellow-500 rounded-full animate-pulse"></span>
          </button>
        </div>
        
        
        <div class="relative ml-3">
          <button type="button" class="relative rounded-full bg-white p-1 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Like</span>
            <!-- Inserta aquí el SVG del icono de corazón de LikeYou -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 452.3" class="h-5 w-5">
              <path d="M474.6 44.4C449.4 15.8 414.4 0 376 0c-53.9 0-88.1 32.2-107.3 59.2-5 7-9.2 14-12.7 20.7-3.5-6.6-7.8-13.7-12.7-20.7C224.1 32.2 189.9 0 136 0 97.6 0 62.6 15.8 37.4 44.4 13.3 71.8 0 108.4 0 147.5c0 42.6 16.6 82.2 52.3 124.7 31.9 38 77.8 77.1 131 122.4 19.8 16.9 40.3 34.3 62.1 53.4l.7.6c2.8 2.5 6.4 3.7 9.9 3.7s7.1-1.2 9.9-3.7l.7-.6c21.8-19.1 42.3-36.5 62.1-53.4 53.2-45.3 99.1-84.4 131-122.4 35.7-42.5 52.3-82.1 52.3-124.7 0-39.1-13.3-75.7-37.4-103.1zM309.2 371.8c-17.1 14.6-34.7 29.5-53.2 45.6-18.5-16.1-36.1-31.1-53.2-45.6C98.7 283.1 30 224.5 30 147.5c0-31.8 10.6-61.4 29.9-83.2C79.3 42.2 106.4 30 136 30c41.1 0 67.7 25.3 82.8 46.6 13.5 19.1 20.6 38.3 23 45.7 2 6.2 7.8 10.4 14.3 10.4s12.3-4.2 14.3-10.4c2.4-7.4 9.5-26.6 23-45.7C308.3 55.3 334.9 30 376 30c29.6 0 56.7 12.2 76.1 34.3 19.3 21.9 29.9 51.4 29.9 83.2 0 77-68.7 135.6-172.8 224.3z"/></svg>
          </button>
        </div>


        <div class="relative ml-3">
          <button type="button" class="relative rounded-full bg-white p-1 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View cart</span>
            <!-- Icono de carrito de compras de Font Awesome -->
            <i class="fas fa-shopping-cart text-lg"></i>
          </button>
          
        </div>

      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">

    <div>
      <div class="relative m-4">
        <input type="text" name="search" id="search" class="block w-full rounded-md border-0 py-1.5 pl-10 pr-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Search...">
        <button type="submit" class="absolute inset-y-0 left-0 px-3 flex items-center justify-center text-gray-500 focus:outline-none">
          <!-- Icono de búsqueda -->
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M15.5 10.5a5 5 0 11-10 0 5 5 0 0110 0z"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="space-y-1 px-2 pb-3 pt-2">
      <a class="text-black hover:bg-black hover:text-white block rounded-md px-3 py-2 text-base font-medium">MEN</a>
      <a class="text-black hover:bg-black hover:text-white block rounded-md px-3 py-2 text-base font-medium">WOMEN</a>
      <a class="text-black hover:bg-black hover:text-white block rounded-md px-3 py-2 text-base font-medium">KIDS</a>
      <a class="text-black hover:bg-black hover:text-white block rounded-md px-3 py-2 text-base font-medium">SALE</a>
      <a class="text-black hover:bg-black hover:text-white block rounded-md px-3 py-2 text-base font-medium">3 STRIPE LIFE</a>
    </div>
  </div>
</nav>
